@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Stylish','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #2E8973;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 130px;
}

.container h2{
  display: flex;
  flex-direction: column;
}

h2 span{
  text-align: center;
  color: #fff;
}

h2:first-child{
  font-size: 48px;
}

h2:nth-child(2){
  font-size: 42px;
  margin-top: 15px;
}

h2:nth-child(3){
  font-size: 30px;
}

.btns{
  margin-top: 25px;
}

button{
  border: none;
  outline: none;
  padding: 10px 15px;
  color: #2E8973;
  border: 1px solid #2E8973;
  cursor: pointer;
}

.playAgain{
  margin-right: 40px;
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
}